<h1>Welcome to my test</h1>
<p>
  Hello,
</p>
<p>
  [The following message is used for the eMail and for the welcome of the exercise]
</p>
<p>
  Due to lack of time I have done the exercise as quickly as I could trying to take into account everything that was
  requested. I would have liked to work with inheritance and polymorphism but I started based on the class that was
  provided with an array and decided to finish it that way although I did not decide to work with it directly I did use
  it in the junit tests and made a structure of classes and objects.
</p>
<p>
  As requested in the statement I used Spring in Angular (the versions used are Spring3 and Angular7)
</p>
<p>
  I hope that the exercise is to your liking, I have not been able to devote much time but still I have tried to do my
  best.
</p>
<p>
  In the ZIP I have attached the Angular and Spring projects separately and I have also added a WAR with the content of
  both applications compiled so that they can be deployed in a tomcat server.
</p>
<p>
  Regards.
</p>